$btn-bg-color : red;
$header-color : black;
$font-color: #333333;
$text-color1: #242424;
$font-size-main: 38px;
$button-color: #5E6821;


$font-size: 16px;
$default-card-padding : 8px;
$default-button-padding : 6px 12px;
$default-button-border-radius: 8px;

//container styles
$default-container-width : 1280px;
$default-color-container : gray;



// variables.scss
$primary-color: #ff6f61;
$secondary-color: #333;
$background-color: #f9f9f9;
$text-color: #555;
$font-family: 'Arial, sans-serif';